@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
    scroll-behavior: smooth;
} */

body {
    @apply m-0 bg-background text-text;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-background
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-accent transition-all;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary opacity-40;
  }

.markdown h1 {
    @apply text-xl md:text-5xl;
}

.markdown h2 {
    @apply text-5xl;
}

.markdown h3 {
    @apply text-3xl;
}

.markdown p {
    @apply py-4;
}

.markdown-section {
  @apply flex flex-col md:flex-row justify-center items-center gap-2;

}

.markdown-section > p {
  text-align: justify;
}

.markdown-img {
  width: clamp(200px, 600px, 600px);
}